<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th></th>
      <th>Airline</th>
      <th>Flight Number</th>
      <th>Departure Date</th>
      <th>Airport</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% flights.sort(function(a, b) {
      return a.departs - b.departs
      }).forEach(function(flight) { %>
      <tr class=<%= new Date() > flight.departs ? 'passed' : '' %>>
        <td>
          <form class="delete-flight" action="/flights/<%= flight._id %>?_method=DELETE" method="post">
            <button type="submit">X</button>
          </form>
        </td>
        <td><%= flight.airline %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs %></td>
        <td><%= flight.airport %></td>
        <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <%- include('../partials/footer') %>